<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/dashboard-layout}">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="mainContent">

    <form th:action="@{/admin/article}" method="post" th:object="${article}">
        <input type="text" placeholder="title" th:field="*{title}">
        <span th:if="${#fields.hasErrors('title')}"
              th:text="${#fields.errors('title').get(0)}">A</span>
        <input type="text" placeholder="description" th:field="*{description}">
        <span th:if="${#fields.hasErrors('description')}"
              th:text="${#fields.errors('description').get(0)}">B</span>
        <input type="submit" value="Save">
    </form>

</div>
</body>
</html>
