<!--<!DOCTYPE html>-->
<!--<html lang="en"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="card-body login-card-body">-->
<!--    <p class="login-box-msg">Sign in to start your session</p>-->

<!--    <form action="../../index3.html" method="post">-->
<!--        <div class="input-group mb-3">-->
<!--            <input type="username" class="form-control" placeholder="Username">-->
<!--            <div class="input-group-append">-->
<!--                <div class="input-group-text">-->
<!--                    <span class="fas fa-envelope"></span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="input-group mb-3">-->
<!--            <input type="password" class="form-control" placeholder="Password">-->
<!--            <div class="input-group-append">-->
<!--                <div class="input-group-text">-->
<!--                    <span class="fas fa-lock"></span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            &lt;!&ndash; /.col &ndash;&gt;-->
<!--            <div class="col-4">-->
<!--                <button type="submit" class="btn btn-primary btn-block">Log In</button>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.col &ndash;&gt;-->
<!--        </div>-->
<!--    </form>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http:/www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="ISO-8859-1">-->
<!--    <title>Login - Company ABC</title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <form th:action="@{/admin/login}" method="post" style="max-width: 400px; margin: 0 auto;">-->
<!--        <p>-->
<!--            Username: <input type="username" name="username" required />-->
<!--        </p>-->
<!--        <p>-->
<!--            Password: <input type="password" name="password" required />-->
<!--        </p>-->
<!--        <p>-->
<!--            <input type="submit" value="Login" />-->
<!--        </p>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <form th:action="@{/admin/login}" method="post" style="max-width: 400px; margin: 0 auto;">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group">
            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>
            <br>

            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span class="has-error" th:text="${error}"></span>
            <br>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>
